body{
	background: #232323;
	margin: 0;
	font-family: "Montserrat";
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 20%;
	transition: background 0.7s;
}

#container{
	max-width: 600px;
	margin: 20px auto;
}

h1{
	color: white;
	text-align: center;
	text-transform: uppercase;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	line-height: 1.1;
	padding: 20px 0;
}

#strip{
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected{
	color: white;
	background: steelblue;
}

#colorDisplay{
	font-size: 200%;
}

button{
	text-transform: uppercase;
	font-weight: 700;
	font-size: inherit;
	background: none;
	border: none;
	height: 100%;
	letter-spacing: 1px;
	color: steelblue;
	transition: all 0.4s;
	outline:none;
}

#message{
	display: inline-block;
	width: 20%;
}

button:hover{
	color: white;
	background: steelblue;
}